<div class="row">
  <div class="sidebar_menu" [ngClass]="getClass()">
    <i class="fa fa-times fa-2x" (click)="setHide()"></i>
    <div class="boxed_item">
      <h1>
        Wolfgang
        <span class="logo_bold">
          Heindl
        </span>
      </h1>
      <h2>Passionate Photographer
        <br> and
        <br> Webdesigner</h2>
    </div>
    <ul class="navigation_selection">
        <li class="navigation_item">Portugal</li>
        <li class="navigation_item">France</li>
        <li class="navigation_item">Italy</li>
        <li class="navigation_item">Prag</li>
        <li class="navigation_item">London</li>
    </ul>
  </div>
</div>
